<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Page Layout</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AppName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/user/index}">Home</a></li>
            <li><a th:href="@{/admin/formProduit}">Produits</a></li>
            <li><a href="#">Categorie</a></li>
            <li><a href="#">Catalogue</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li><a th:href="@{/login?logout}">Logout</a></li>
        </ul>
    </div>
</nav>
<section layout:fragment="content1"></section>
<footer>

</footer>
</body>
</html>